<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Zoomcare Test Suite">
    <test name="Smoke Tests" parallel="classes">
        <classes>
            <class name="HomeTests"/>
            <class name="SchedulePageTests"/>
        </classes>
    </test>
</suite>